<h1>My portfolio</h1>

<div class="search-area">
  <h3>Search stocks</h3>
  <%= form_with url: search_stock_path, method: "get", data: { turbo_frame: "results_turbo_stream" } do %>
    <div class="form-group row">
      <div class="col-sm-9">
        <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-sm-3">
        <%= button_tag type: :submit, class: "btn btn-success" do %>
          Search
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= turbo_frame_tag "results_turbo_stream" do %>
  <%= render "users/result", stock: nil %>
<% end %>

<br>

<% if @tracked_stocks.present? %>
  <%= render "stocks/list" %>
<% else %>
  <p class="text-muted">You are not currently tracking any stocks.</p>
<% end %>
